body{
   box-sizing: border-box;
   margin: 0;
   padding:0;
   font-family: 'Montserrat', sans-serif;
   color:#303030;

   }

   /*clases reutilizables**/

   .text-uppercase{
       text-transform: uppercase;
   }
   .box-header{
       display: inline-block;
   }

   /*clases especificas**/
.logo-header{
width: 200px;
}

li{
    display: inline;
    list-style: none;
}

li a{
    text-decoration: none;
    color: inherit; /*Hereda el color de su padre*/
}

header{
    position: relative;
}

nav{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }

  section{
      text-align: center;   
   
  }

  div{
      display: inline-block;
      width: 33%;
  }

  span{

    font-size: 60px;
  }
  
  body section:last-child{
       margin: 30px 50px 0 70px;
  }
  img[alt="Laboratoria"]{
    width: 150px;
  }

  button{
      background-color: #f9a910;
      padding: 10px;
      color: rgb(255, 255, 255);
      border-radius: 5px;
      border:0;
      font-weight: 600;  /*hace negrita la letra*/
  }

  .box-header ul li{
      margin: 0 15px;
    
  }

  span:hover{
      color: #f9a910;
  }
  
  .box-header:hover ul li{
      color:#f9a910;
  }

